<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
    
        /**
         * Adds a message to the chat 
         */
        function addMessageToChat(user, post)
        {
        	contribDiv = document.createElement('div');
        	userDiv    = document.createElement('div');
        	postDiv    = document.createElement('div');
        	$(contribDiv).addClass('contribution');
        	
        	$(userDiv).addClass('user').html(user);
        	$(postDiv).addClass('post').html(post);
        	
        	$(userDiv).appendTo(contribDiv);
        	$(postDiv).appendTo(contribDiv);
        	
        	$(contribDiv).appendTo($('#chat_window'));
        	window.scrollTo(0,document.body.scrollHeight);
        }
    	
        //document ready
    	$(document).ready(function() {
        	var socket = io.connect();
        	socket.on('getMessages', function (messages) {
            	$('#chat_window').empty();
            	
                for (var i in messages)
                	addMessageToChat(messages[i].user, messages[i].post);
            });
        	
        	socket.on('sendMessage', function (username, message) {
        		addMessageToChat(username, message);
        	});
    	
        	$("#add_post_form").submit(function(event) {
        		event.preventDefault();
        	    var frm = $("#add_post_form");
        	    socket.emit('newPost', $('#chatTextInput').val());
        	    $('#chatTextInput').val('');
        	});
    	});
    	
	</script>
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
    	Welcome to <%= title %>
    </p>
    <div id="chat_window">
        
    </div>
    <div>
        <form id="add_post_form" action="/addpost" method="post">
            <input type="text" name="mypost" class="inputText" id="chatTextInput" /><input type="submit" value="Send"/>
        </form>
        
    </div>
  </body>
</html>