<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
    	Welcome to <%= title %>
    </p>
    <p>Before you log into the chat, you need to signin using the following form</p>
    
    <div>
    	<%if (errors.length > 0) { %>
			<p> The following errors were found while processing the form  : </p>
			<ul>
				<% for(var i=0; i<errors.length; i++) { %>
					<li><%= errors[i] %></li>
				<% } %>
			</ul>
		<% } %>
    	<form action="/signin" method="post">
		    <div>
		        <label>Username:</label>
		        <input type="text" name="username"/><br/>
		    </div>
		    <div><input type="submit" value="Sign Up"/></div>
		</form>
    </div>
  </body>
</html>